.circularProgress {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linearProgress {
  background-color: #fcfcfc;
  height: 4px;
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
}


