.wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9fa;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 1008px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularProgress {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linearProgress {
  background-color: #fcfcfc;
  height: 4px;
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
}


