.container {
    width: 1008px;
}

.head {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageName {
    font-size: 22px;
    font-weight: 600;
}

.button {
    padding: 8px 28px;
    background-color: #366eff;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}


