.container {
    width: 413px;
    padding: 35px 33px 42px 33px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.header {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 600;
}

.input {
    margin: 10px 0 0 0;
    width: 100%;
}

.text {
    margin: 26px 0 0 0;
    color: gray;
    line-height: 24px;
}

.button {
    margin: 65px 0 31px 0;
    padding: 8px 101px;
    background-color: #366eff;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
}

.didYourPassword {
    margin: 0 0 11px 0;
    font-weight: 600;
    color: #7a7a7a;
}

.signIn {
    font-weight: 600;
    font-size: 16px;
    color: #366eff;
    text-decoration: underline;
    line-height: 24px;
}